<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%=user._id%>/foods/new">Add a Food</a>
        <!-- Add the following: -->
        <ul>

          <% foods.forEach((food)=>{ %>
            <li>
              <a href="/users/<%= user._id %>/foods/<%= food._id %>">

                <%= food.name %> 
            </li>
          <% }) %>
        </ul>
    
  </body>
</html>


